@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?knbr1k');
  src:  url('fonts/icomoon.eot?knbr1k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?knbr1k') format('truetype'),
    url('fonts/icomoon.woff?knbr1k') format('woff'),
    url('fonts/icomoon.svg?knbr1k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playlist:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-radio:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-setting:before {
  content: "\e903";
}
